/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-nov-2018, 19.22.15
    Author     : davide
*/
.header-fixed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    top: -100px;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
}
.header-fixed .header-limiter {
    text-align: center;
    margin: 0 auto;
}
.header-fixed-placeholder {
    height: 80px;
    display: none;
}
.header-fixed .header-limiter h1 {
    float: left;
    line-height: 40px;
    margin: 0;
}
.header-fixed .header-limiter h1 span {
    color: #fff;
}
.header-fixed .header-limiter a {
    color: #da3333;
    text-decoration: none;
}
.header-fixed .header-limiter nav {
    font: 16px Arial, Helvetica, sans-serif;
    line-height: 40px;
    float: right;
}
.header-fixed .header-limiter nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.9;
}
.header-fixed .header-limiter nav a:hover {
    opacity: 1;
}
.header-fixed .header-limiter nav a.selected {
    color: #608bd2;
    pointer-events: none;
    opacity: 1;
}
body.fixed .header-fixed {
    padding: 10px 40px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
body.fixed .header-fixed-placeholder {
    display: block;
}
body.fixed .header-fixed .header-limiter h1 {
    font-size: 24px;
    line-height: 30px;
}
body.fixed .header-fixed .header-limiter nav {
    line-height: 28px;
    font-size: 13px;
}

body.fixed .header-fixed .header-limiter span.user-logged {
    font-size: 14px;
    line-height: 33px;
}

body {
    margin: 0;
    padding: 0;
    height: 1500px;
}

.bpm-inspinia {
    background-color: #f1f1f1;
}

.header-fixed .header-limiter .user-logged {
    float: right;
    line-height: 40px;
    margin: 0;
    font-size: 16px;
}

.error{
    color:red;
    font-weight: normal;
}

.paginate_button {
    padding: 2px !important;
}

.chat-form {
    margin: 10px 0 ;
}

@media all and (max-width: 600px) {
    .header-fixed {
        padding: 20px 0;
        height: 75px;
    }
    .header-fixed .header-limiter h1 {
        float: none;
        margin: -8px 0 10px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
    }
    .header-fixed .header-limiter nav {
        line-height: 1;
        float: none;
    }
    .header-fixed .header-limiter nav a {
        font-size: 13px;
    }
    body.fixed .header-fixed {
        display: none;
    }
}
